<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Flash News </title>
        {% endif %}
    </head>
    <body>
        <div class="card-column">
            <div class="card-header">
              <h4>Browse News Sources</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in sources %}
                <a href="/article/{{source.id}}">
                  <p class="text-capitalize text-muted">{{source.id}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>

          </div>
    </body>
</html>
